.main {
    width: 160px;
    height: 450px;
    margin-left: 200px;
    padding-top: 5px;
    background-color: black;
}

.box1 {
    width: 70px;
    height: 70px;
    padding: 30px;
    margin: 15px;
    border: 15px;
    border-color: white;
    border-radius: 200px;
    background-color: rgb(248, 17, 17, 0.5);

}

.box2 {
    width: 70px;
    height: 70px;
    padding: 30px;
    margin: 15px;
    border: 15px;
    border-color: white;
    border-radius: 200px;
    background-color: rgb(236, 157, 10, 0.5);

}

.box3 {
    width: 70px;
    height: 70px;
    padding: 30px;
    margin: 15px;
    border: 15px;
    border-color: white;
    border-radius: 200px;
    background-color: rgb(18, 223, 18, 0.2);

}

.box4 {
    width: 50px;
    height: 100px;
    background-color: yellow;
    margin-left: 250px;
}

.box1:hover {
    background-color: red;
}

.box2:hover {
    background-color: orange;
}

.box3:hover {
    background-color: green;
}

.ti {
    width: 600px;
    height: 520;
    margin-top: 5px;
    margin-left: 200px;
}