body{
    background-color: azure;
    border: 16px;
    justify-content: center;
}
fieldset{
    background-color: rgb(20, 185, 214,0.1);
    color:black;
}
#paragraph{
    background-color:rgba(105, 184, 184, 0.1);
}
.trc{
    background-color:rgba(105, 184, 184, 0.1);
}
.social{
    padding-left: 30px;
}
.main{
    display: flex;
    flex-wrap:wrap ;
    gap: 50px;
    justify-content: center;
}