body{
    background-color: black;
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    height: 80px;
    width: 100px;
}
.main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
}
.container{
    display: flex;
    justify-content: space-around;
    gap:50px;
    margin-top: 8%;
}
.image{
    display: flex;
    margin-top: 20px;
    /* border: 1px solid;
    border-color: rgb(252, 227, 7) ;
    border-radius: 15px; */
}
.main{
    display: flex;
    flex-direction: column;
    width: 300%;
    height: 400px;
    justify-content: center;
}
.main h2{
    margin-top: 70px;
}
#nav_bar{
     display: flex;
     background-color: black;
     padding: 0.5px;
     justify-content:space-between;
     align-items: center;
     position: fixed;
     width: 85%;
}
.nav-items{
     display: flex;
     gap: 1rem;
     margin-right: 50px;
     font-style: bold;
}
h1,p{
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
nav h1{
    font-family: 'Brush Script MT','Brush Script Std',cursive;
}
nav a{
     padding: 5px;
     text-decoration: none;
     color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
#name{
    color: white;
    display: flex;
    font-size: 25px;
}
nav a:hover{
    color:rgb(252, 227, 7) ;
    text-decoration: underline 1.5px;
    
}
#youtube{
    padding: 15px;
    gap: 2em;
    border: 1px solid;
    border-radius: 30px ;
    border-color:white;
    background-color:rgb(252, 227, 7) ;
}
#mywork{
    padding: 15px;
    gap: 2em;
    border: 1px solid;
    border-radius: 30px ;
    border-color: white;
    background-color: black;
    color: white;
}
#youtube:hover{
    background-color: black;
    color: white;
}
#mywork:hover{
    background-color: rgb(252, 227, 7) ;
    color: black;
}
.pinfo p{
    font-size: 20px;
    line-height: 30px;
    color: white;
}
.info .pimage{
    display: flex;
    height: 30%;
    width: 40%;
    border-radius: 180px;
    align-items: center;
}
.info{
    display: flex;
    align-items: center;
}

.about{
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
}
.aboutme h1{
    color: white;
}
.aboutme{
    width: 55%;
    display: flex;
    flex-direction: column;
    line-height: 130%;
}

.aboutme p{
    color: white;
    font-size: 20px;
}

.all_info{
    display: flex;
    color: white;
    align-items: center;
    line-height: 12%;
    gap: 2%;
}
.all_info p{
    display: flex;
}
.skills{
    color: white;
}
.info&skills{
    display: flex;
    flex-direction: column;
}
.skills ul{
    display: flex;
    flex-direction: column;
    line-height: 150%;
    font-size: 120%;
}
.resumeB{
    background-color:rgb(252, 227, 7) ;
    padding: 1.5%;
    border-radius: 20%;
    color: black;
}
.resumeB:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}
#all_info{
    display: flex;
    padding: 2px;
    width: 80px;
    justify-content: center;
    border: 1px solid;
    border-radius: 20% ;
    color: black;
    background-color: rgb(252, 227, 7);
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.projects{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 6%;
}
.projects p{
    margin-top:0.5%;
}
.card{
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 1%;
}
.card img{
        height: 50%;
        width: 40%;
}
.project_info p {
    font-size: 130%;
}
.contact p{
    font-size: 130%;
    margin-top: 0.1%;
}
.contact{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
}
.contact_info b{
   color: white;
}
.contact_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.find_me{
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.find_me a{
    text-decoration: none;
    padding: 10%;
    background-color: rgb(15, 14, 14);
    border-radius: 50%;
    color: rgb(252, 227, 7);
}
.icons .i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 80px;
    width: 80px;
    background-color: rgb(15, 14, 14);
    border-radius: 50%;
    color: rgb(252, 227, 7);
    font-size: 25px;
}
.contact_info p{
    font-size: 100%;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#student{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    box-sizing: border-box;
    border-color: rgb(252, 227, 7);
}
#Pharmecy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    box-sizing: border-box;
    border-color: rgb(252, 227, 7);
}
.main_con a{
    text-decoration: none;
    padding: 2%;
    background-color: rgb(15, 14, 14);
    border-radius: 50%;
    color: rgb(252, 227, 7);
}
.main_con{
    display: flex;
    margin-top: 8%;
    gap: 1%;
}
