body{
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.header{
    display: flex;
    height: 80px;
    width: 100px;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
}
.container{
    display: flex;
    justify-content: space-around;
    gap:50px;
}
.image{
    display: flex;
    margin-top: 20px;
    /* border: 1px solid;
    border-color: rgb(252, 227, 7) ;
    border-radius: 15px; */
}
.main{
    display: flex;
    flex-direction: column;
    width: 300%;
    height: 400px;
    justify-content: center;
}
#nav_bar{
     display: flex;
     background-color: black;
     padding: 1px;
     justify-content:space-between;
     align-items: center;
}
.nav-items{
     display: flex;
     gap: 1rem;
     margin-right: 50px;
     font-style: bold;
}
h1,p{
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
nav a{
     padding: 5px;
     text-decoration: none;
     color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
#name{
    color: white;
    display: flex;
    font-size: 25px;
}
nav a:hover{
    color:rgb(252, 227, 7) ;
    text-decoration: underline 1.5px;
    
}
button{
    background-color: transparent;
    padding: 15px;
    gap: 2em;
    border: 1px solid;
    border-radius: 30px ;
    border-color: white;
}
.pinfo p{
    font-size: 20px;
    line-height: 30px;
    color: white;
}
.info .pimage{
    display: flex;
    height: 30%;
    width: 40%;
    border-radius: 180px;
    align-items: center;
}
.info{
    display: flex;
    align-items: center;
}

.about{
    display: flex;
    justify-content: space-around;
}
.aboutme h1{
    color: white;
}
.aboutme{
    width: 55%;
    display: flex;
    flex-direction: column;
    line-height: 130%;
}

.aboutme p{
    color: white;
    font-size: 20px;
}

.all_info{
    display: flex;
    color: white;
    align-items: center;
    gap: 8%;
}
.all_info p{
    display: flex;
}
.skills{
    color: white;
}
.info&skills{
    display: flex;
    flex-direction: column;
}
.skills ul{
    display: flex;
    flex-direction: column;
    line-height: 200%;
    font-size: 120%;
}
.resumeB{
    background-color:rgb(252, 227, 7) ;
    padding: 1.5%;
    border-radius: 20%;
    color: black;
}
.resumeB:hover{
    background-color: white;
    color: black;
}
#all_info{
    padding: 0%;
    border: 1px solid;
    border-radius: 50% ;
    color: black;
    background-color: rgb(252, 227, 7);
    border-color:transparent;
    width: 30%;
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.projects{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    text-align: center;
}
.card{
    display: flex;
    justify-content: space-between;
    color: white;
}
.card img{
        height: 50%;
        width: 30%;
}
.project_info p {
    font-size: 130%;
}
.contact p{
    font-size: 130%;
}

.contact{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    align-items: center;
}
.contact_info b{
   color: white;
}
.contact_info{
    display: flex;
    gap:10%;
    text-align: center;
    justify-content: center;
}
.contact_info .icons{
    display: flex;
    flex-direction: column;
}
.find_me{
    display: flex;
    align-items: center;
    margin-top: 10%;
    
}
.find_me a img{
    height: 30%;
    width: 20%;
}
.find_me a{
    display: flex;
    gap:0px;
}
.icons{
    font-size: 90%;
}
.icons p{
    font-size: 100%;
}